<nav>
  <ul>
    <li><%= link_to "HOME", root_path %></li>
    <li><%= link_to "EVENTS", events_path %></li>
    <li><%= link_to "SHOP", shop_path %></li>
    <li><%= link_to "DISCUSSION", discussion_path %></li>

  </ul>
</nav>